@model RemoteLoggingService.ViewModels.LoginModel
@{
    ViewData["Title"] = "Log in";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<form method="post">
    
    <div>
        <div>
        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Email)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Email)
            @Html.ValidationMessageFor(model => model.Email)

        </div>
        <div class="editor-label">
            @Html.LabelFor(model => model.Password)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Password)
            @Html.ValidationMessageFor(model => model.Password)
        </div>
        <div class="g-recaptcha" data-sitekey="6LdLcFQUAAAAAJ-QFp0lx2KFnjLmrYY9nwbpxDkx"> </div>
        @Html.ValidationMessageFor(model => model.Captcha)
        <div class="form-group">
            <input type="submit" value="Log in" class="btn" />
        </div>
    </div>
</form>